* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.names {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    padding: 1rem 0;
}

li {
    margin: 0 1rem;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid green;
}

.hide {
    display: none;
}

.drag-box {
    width: 200px;
    height: 200px;
    border: 1px solid red;
}